*{
    margin: 0;
    padding: 0;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: <500>;
    font-style: normal;
    box-sizing: border-box;
}

body{
    background: linear-gradient(-45deg, #002b36, #004c66, #008b8b,rgb(5, 172, 175));
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.card{
    margin: 30px auto 0px auto;
    width: 90%;
    max-width: 470px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff; 
    border-radius: 10px;
    padding: 40px 35px; 
    text-align: center;
    font-family: sans;
    font-weight: bold;
    position: relative;
}

.search{
    width: 100%; 
    display: flex; /*Displays an element as a block-level flex container */
    align-items: center;
    justify-content: space-between; /* distributes space between and around content items along the main-axis of a flex container */
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1; /*Grow and take all available space within container */
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width:16px;
}

.weather-icon{
    width: 170px;
    margin-top: 3%;
        max-width: 30vw; /* Makes it responsive */
        height: auto;
    
        animation: floatUpDown 2s ease-in-out infinite;
    
}
@keyframes floatUpDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* Responsive Fixes */
@media (max-width: 768px) {
    .weather-icon {
        width: 80px; /* Smaller size for mobile */
        max-width: 20vw;
    }

    .weather {
        margin-top: 10px; /* Adjusts spacing to prevent overlap */
    }
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 80px;
    font-weight: 500;
    margin-top: -10px;
}

.details{
    display: flex; /*to create 2 column */
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /*20px for left and right */
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.title {
    margin-bottom: 20px;
}